@model vidly.ViewModels.RandomMovieViewModel
@{
	ViewData["Title"] = "Random";
	var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2>@ViewData["Title"]</h2>

<p class="@className">@Model.Movie.Name</p>

@if (Model.Customers.Count == 0)
{
	<p>No one has rented this movie before.</p>
}
else
{
	<ul>
		@foreach (var customer in Model.Customers)
		{
			<li>@customer.Name</li>
		}
</ul>
}
